.win {
  border: 2px solid white;
  width: 200px;
  height: 60px;
  background-color: greenyellow;
  text-align: center;
}

.loss {
  border: 2px solid gray;
  width: 200px;
  height: 60px;
  background-color: crimson;
  text-align: center;
}

.txt {
  padding-top: 7%;
}
