@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap");

body {
  background-color: black;
  color: white;
}

.texto {
  text-align: center;
  font-family: "Roboto Serif", sans-serif;
}

.balance {
  border: 1px solid white;
  width: fit-content;
  height: 2em;
  text-align: center;
  padding-top: 6px;
  font-size: large;
  margin: 4em;
}

p.space {
  word-spacing: 15px;
}

p.space2 {
  word-spacing: 30px;
}

.title {
  margin-top: 2em;
}

.botones {
  width: 50%;
}

.boton {
  margin-top: 15px;
}
