.boton {
  background-color: #d303fc;
  color: white;
  border: 2px solid #00ff00;
  width: 210px;
  height: 50px;
}

.boton:hover {
  background-color: firebrick;
  cursor: pointer;
  border: 2px solid lightseagreen;
}
